<html lang="en">
  {{!-- header --}}
{{>header}}
  <body>

{{!-- navbar --}}
{{>navbar}}

    {{!-- body --}}
   <main class="container"> {{{body}}}</main>

{{!-- footer --}}
    {{>footer}}
    </body>
</html>