<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/"><box-icon
        type="logo"
        size="lg"
        name="twitter"
        color="cyan"
        onclick="Animation"
      ></box-icon>
      Jasurinc shop</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {{#if isBoom}}
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          {{else}}
            <a class="nav-link" aria-current="page" href="/">Home</a>
          {{/if}}
        </li>
        <li class="nav-item">
          {{#if isPrt}}
            <a class="nav-link active" href="/products">Products</a>
          {{else}}
            <a class="nav-link" href="/products">Products</a>
          {{/if}}
        </li>
        <li class="nav-item">
          {{#if isAdd}}
            <a class="nav-link  active" href="/add">Add</a>
          {{else}}
            <a class="nav-link" href="/add">Add</a>
          {{/if}}
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

      </ul>
      <form class="d-flex gap-2">
        <div class="d-flex">
          <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button
            class="btn btn-outline-success"
            type="submit"
          >Search</button></div>
        <div class="flex">
          <a
            class="text-light text-decoration-none btn btn-primary"
            href="/register"
          >Register</a>
          <a
            class="text-light text-decoration-none btn btn-secondary"
            href="/login"
          > Login</a>
        </div>
      </form>
    </div>
  </div>
</nav>